<mat-toolbar color="primary" class="mb-2">
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      color="warn"
      aria-label="Example icon-button with a heart icon"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-icon-button
      color="accent"
      aria-label="Example icon-button with a heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<app-post-list></app-post-list>
<router-outlet></router-outlet>
